@import '../../css/colors';

.main-body {
  background-color: $body-background;
}

.side-nav {
  background-color: $side-background;
  border-right: 1px solid $charcoal;
  padding-left: 25px;
}

.cocktail-body {
  background-color: $cocktail-body-background;
}

.row {
  height: 100vh;
}
