$charcoal: #bbb;
$white-smoke: #f7f7f7;

$stem: #636b46;
$linen: #e9e7da;
$gold: #cda34f;
$seaweed: #373f27;

$side-background: $linen;
$header-background: $stem;
$body-background: $linen;

$cocktail-body-background: $gold;
